<div class="h-fit min-w-fit flex flex-col items-center justify-center shadow-black shadow-2xl rounded-2xl py-12 gap-10 bg-black/60 border border-black ">
    <h3 class="font-heading text-primaryWhite inline-block font-bold text-3xl">Sign Up</h3>
    <div class="flex items-center px-3">
        <app-input name="First Name" type="text"></app-input>
        <app-input name="Last Name" type="text"></app-input>
    </div>

    <div class="flex items-center px-3">
        <app-input name="Email" type=""></app-input>
        <app-input name="Username" type="text"></app-input>
    </div>
    <div class="flex items-center px-3">
        <app-input type="password" name="Password"></app-input>
         <label for="password-field" class="flex items-center text-white font-semibold mx-2">
            Password : <div class="flex items-center border ml-2 h-9 rounded-lg p-2">
                 <input [type]="showPassword?'text':'password'" class="outline-none px-2 bg-transparent">
                 <fa-icon (click)="showPassword=!showPassword" class="cursor-pointer text-white min-w-5" [icon]="showPassword? passwordNotVisible:passwordVisible"></fa-icon>
             </div>
         </label>
    </div>
    <button class="user-btn">Sign up</button>
    <p (click)="this.router.navigate(['/auth'])" class=" text-body text-white text-lg cursor-pointer font-normal hover:underline hover:text-primaryWhite">Already have an account? Sign In</p>
</div>
