<nav class="max-h-24 flex items-center bg-transparent">
  <div
    class="flex items-center my-4 w-2/4 mx-4 cursor-pointer"
    (click)="router.navigate(['/'])"
  >
    <img
      ngSrc="streamify.png"
      height="80"
      width="80"
      alt="streamify"
      class="h-10 w-10"
    />
    <h1 class="mx-2 font-heading text-xl font-medium uppercase text-white">
      Streamify
    </h1>
    <input
      name="search-bar"
      (keydown.enter)="onEnterSearch()"
      [(ngModel)]="searchString"
      class="min-w-[30vw] max-h-14 rounded-full border-2 border-white px-4 py-2 ml-4 outline-none text-black"
      placeholder="Search Videos"
    />
  </div>
  <div class="flex w-1/4 items-center justify-evenly gap-4">
    <a class="nav-items">Popular</a>
    <a class="nav-items">Genra</a>
    <a class="nav-items">History</a>
    <a class="nav-items">Liked Videos</a>
  </div>

  <div class="flex items-center w-1/4 justify-evenly">
    @if(isLoggedIn()===null){
    <button class="user-btn" (click)="this.router.navigateByUrl(currentUrl!=='/auth'?'/auth':'/auth/signUp')">
      {{currentUrl!=='/auth'?'Sign In':'Sign Up'}}
    </button>
    }@else{
    <div class="user-btn cursor-pointer">
      <fa-icon [icon]="userIcon" class="pl-3"></fa-icon>
      <p class="font-heading px-3">{{ isLoggedIn() }}</p>
    </div>
    @if(haveAnyChannel()!==null){
    <div class="user-btn cursor-pointer">
      <fa-icon [icon]="VideoIcon" class="pl-3"></fa-icon>
      <p class="font-heading px-3">{{ haveAnyChannel() }}</p>
    </div>
    }@else {
    <p
      (click)="router.navigateByUrl('/createChannel')"
      class="text-white font-body mx-2 hover:underline cursor-pointer"
    >
      Want to create a channel?
    </p>
    } }
  </div>
</nav>
